@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply text-base overflow-hidden;
	font-family: var(--font-zen), sans-serif;
	color: rgb(var(--foreground-rgb));
	background-color: #0e0f0f;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

input.defaultCheckbox {
	color: white;
}

input.defaultCheckbox::before {
	content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66662 10.115L12.7946 3.98633L13.7379 4.92899L6.66662 12.0003L2.42395 7.75766L3.36662 6.81499L6.66662 10.115Z' fill='white'/%3E%3C/svg%3E%0A");
	fill: currentColor;
	opacity: 0;
	height: 16px;
	width: 16px;
	top: -2px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input.defaultCheckbox::before path {
	fill: currentColor;
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.slide {
	animation: slide_anim 0.5s;
}

@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Принудительное использование 24-часового формата для input type="time" */
input[type="time"] {
	/* Убираем AM/PM селектор для WebKit браузеров (Chrome, Safari, Edge) */
	&::-webkit-datetime-edit-ampm-field {
		display: none !important;
		visibility: hidden !important;
		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		opacity: 0 !important;
		position: absolute !important;
		left: -9999px !important;
	}
	
	/* Убираем AM/PM селектор для Firefox */
	&::-moz-datetime-edit-ampm-field {
		display: none !important;
		visibility: hidden !important;
		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	/* Скрываем AM/PM в календаре */
	&::-webkit-calendar-picker-indicator {
		opacity: 1;
	}
	
	/* Принудительно используем 24-часовой формат через стили */
	&::-webkit-datetime-edit-hour-field {
		-webkit-appearance: textfield;
	}
	
	&::-webkit-datetime-edit-minute-field {
		-webkit-appearance: textfield;
	}
}

/* Дополнительные стили для скрытия AM/PM в выпадающем списке */
input[type="time"]::-webkit-calendar-picker-indicator {
	opacity: 1;
}

/* Скрываем AM/PM в списке выбора времени - более агрессивные стили */
input[type="time"]::-webkit-datetime-edit-ampm-field {
	display: none !important;
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	position: absolute !important;
	left: -9999px !important;
}

/* Скрываем AM/PM в выпадающем списке времени через shadow DOM */
input[type="time"]::part(ampm-field) {
	display: none !important;
}

